
<div  container ng-controller="cityCenterController"> 

    <h2 class='starttitle' style="color:burlywood">Main Insurance Menu</h2> 
 
    <div class="row">   
         <img class='r1 mainPic' src='images/lake.jpg'  style="background-size: 80% 80%" >  
   </div> 
  <br>
<div class="row" style= "margin-left: '140px'">  
  
   
    <div class='col-md-1'></div>
    <div class='col-md-2'> 

            <button type='button' class='st1 b1  btn btn-primary' ng-click="update()">
                            Update Info
            </button> 
    </div> 

    <div class='col-md-2'> 

        <button type='button' class='st1 b1 btn btn-primary' ng-click="claim()">
                        File Claim
        </button> 
    </div> 

    <div class='col-md-2'> 

        <button type='button' class='st1 b1 btn btn-primary' ng-click="history()">
                        Show History
        </button> 
    </div> 

    <div class='col-md-2'> 

        <button type='button' class='st1 b1 btn btn-primary' ng-click="plan()">
                        Change Plan
        </button> 
    </div> 

    <div class='col-md-2'> 

        <button type='button' class='st1 b1 btn btn-primary' ng-click="OnMenuBtnSignOut()">
                        Signout
        </button> 
    </div> 

</div>
 
<div class="row" style="margin-left: '140px'">
             <div class='col-md-5'></div>
             <div class='col-md-5' style="color: burlywood; font-size: large;"> 
                    {{message}}    
             </div>
</div>

</div>