 
 <div  container ng-controller="adminController">  


    <div class="row"><br></div>
    
    <div class="row"><br></div>
  
    <div class="row">
  
                    <div class='col-md-4'></div>
    
                    <div class='col-md-4'> 
    
                            <h3 style="color: burlywood">Administrator</h3> 
                            
                    </div>
    
    </div>
  
    
  
    <div class="row"><br></div>
    
    <div class="row"><br></div>
  
            
    <div class="row"> 
  
            <div class='col-md-4'></div>
  
            <div class='col-md-4'> 
  
                    <label for='admId' class="st1 control-label">Admin Id:</label> <br>
                    <input type='text' class="st1 form-control" ng-model="admId"><br><br>
  
                    <label for="admPassword" class="st1 control-label">Password:</label> <br>
                    <input type='password' class="st1 form-control" ng-model="adminPassword"><br>
  
            </div>
    </div>
    <div class="row"><br></div>
    
    <div class="row"><br></div>
    
    <div class="row"><br></div>
    
    <div class="row">  
  
  
            <div class='col-md-4'></div>
  
            <div class='col-md-2'> 
   
                    <button type="submit" class="st1 b1 btn btn-primary st1" ng-click="adminSignin()">Sign In</button> 
                     
            </div> 
  
    </div>
  
    <div class="row"><br></div>
     
    <div class="row"> 
  
            <div class='col-md-4'></div>
    
            <div class='col-md-4'>  
  
                    <div style="font-size:large; color:burlywood";>
                            {{message}}
                    </div> 
                    
            </div>
  
    </div>
   
   
  
  </div> 
  
  