
<div  container ng-controller="planSelectController"> 

    <h2 class='starttitle'>Plan Selection</h2> <br/>

    <!-- list plans here -->

    <div ng-repeat="plan in plans track by $index">  
         

            <div style="margin-top:20px;" class="row justify-content-md-center">
    
                <div>
                    <button type='button' class="st1 b1 btn btn-outline-primary"
                            ng-click="onPlanSelect(plan.PlanName)">
                           {{plan.PlanName}}  
                    </button>  
               </div>
    
               <div style="margin-left: 80px;color:white;font-size: larger;">
                          {{plan.PlanLiteral}}
               </div>
    
               <br/>

            </div>
    </div>


  

<div class="row" style='margin-top:30px'>   
  
    <div class='col-md-4'></div>

    <div class='col-md-2'> 

            <button type='button' class='st1 b1  btn btn-primary' ng-click="onCancel()">
                            Cancel
            </button> 
    </div> 

     

</div>

</div>